#cabecalho {
    background-color: #046096;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    font-family: poppins;
    font-size: 40px;
    color: bisque;

}
#logo {
    width: 125px;
    height: 125px;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    margin-left:10px;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 30%;
    box-sizing: border-box;
    font-family: poppins;
    font-size: large;
    border-radius: 15px;
}
h3{
    font-family: poppins;
    font-size: large;
}
#botao {
    background-color: #046096;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: poppins;
    border-radius: 15px;
    margin-left: 120px;
}
#tabela {
    display: flex;
    justify-content: right ;
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    font-family: poppins;
    font-size: 20px;
    align-items: right;
    margin-left: 200px;
    
}
#tabela th, #tabela td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#tabela th {
    background-color: #046096;
    color: #fff;
}
.cadastro {
    margin-top: -90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    font-family: poppins;
}
